/*General*/
*, h1, h2, h3, h4, nav {
    font-family: 'Courier Prime', monospace;
}

h1, h2, h3 {
    text-align: center;
    color: rgb(122, 174, 186);
}

h1{
    margin-top: 100px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

@media (max-width : 768px) {
    /* Adjustments for smaller screens */
    .title {
        gap: 50px;
    }

    h1{
        margin-top: 50px;
    }
}