{% extends "layout.html" %}

{% block main %}
    {% if error %}
        <h1 class="title">Error</h1>
        <p>{{ error }}</p>
    {% else %}
        <h1 class="title">{{ project.name }}</h1>
        <div class="project-container">
            <div class="project-card">
                <h2 class="project-title">View:</h2>
                <img src="{{ url_for('project_image', project_id=project.id) }}" alt="Project Image" class="project-image">
            </div>
            <div class="project-card">
                <h2 class="project-title">Description:</h2>
                <p>{{ project.description }}</p>
            </div>
            <div class="project-card">
                <h2 class="project-title">Technologies Used:</h2>
                <ul class="list">
                    {% for lang in languages %}
                    <li class="list-item">{{ lang.language }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="project-card">
                <h2 class="project-title">Links:</h2>
                <ul class="list">
                    <li class="list-item"><a href="{{ project.site_url }}" target="_blank">Live Project</a></li>
                    <li class="list-item"><a href="{{ project.github_url }}" target="_blank">GitHub Repository</a></li>
                </ul>
            </div>

        </div>
    {% endif %}
    
{% endblock %}